.comments-chat-main
  .tweets-block
    .user-name
      = @tweet.user.name
    .messages
      = @tweet.text
    = link_to "編集", "/tweets/#{@tweet.id}/edit", method: :get, class: "edit-edit"
    = link_to "削除", "/tweets/#{@tweet.id}", method: :delete, class: "edit-delete"
    .time
      = @tweet.created_at.strftime("%Y/%m/%d %H:%M")
  = form_tag("/tweets/#{@tweet.id}/edit", method: :patch) do
    = render 'layouts/error'
    %h3.new-tweets
      編集する
    %textarea{placeholder: "編集する内容を入力してください", name: "text", class: "new-text"}
    %input{type: "submit", class: "edit-submit"}/ 
    .aaaaa 
    %i.fas.fa-camera{class: "camera"}